language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
env:
  - DJANGO_VERSION=1.4.22
  - DJANGO_VERSION=1.7.10
  - DJANGO_VERSION=1.8.4
# command to install dependencies
install:
  - pip install -q Django==$DJANGO_VERSION --use-mirrors
  - pip install pep8 --use-mirrors
# before_script:
#   - python manage.py syncdb --noinput
# command to run tests
script: python manage.py test