{% extends "base_auth_users.html" %}
{% load staticfiles %}
{% block body_style %}
    background: url({% static 'img/home.jpg' %}) no-repeat center center fixed;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
{% endblock%}

{% block container%}
<div class="row">
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <h1 class="white">Bienvenido a Weertik.</h1>
        <p class="white lead">
            Weertik quiere ser para ti tu mejor aliado en la privacidad de las redes sociales.
            Crea, organiza, explora... y siempre cuidando tu privacidad, tu decides lo que publicas.
            <br/><br/>
            Ahora, tú pones la marca! que quieres hacer, donde y con quien quieres ir y lo que quieres descargar.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        {% block content%}
        {% endblock%}
    </div>
</div>
{% endblock%}
