{% extends "base.html" %}
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="/">Weertik</a>
            </div>
            <div>
                {% block head%}
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#">Home</a></li>-->
                        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Amigos</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Mensajes</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span> Eventos</a></li>-->
                    </ul>
                    <!--<ul class="nav navbar-nav navbar-right">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Nombre usuario <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Ayuda</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
                            </ul>
                        </li>

                    </ul>-->
                {% endblock%}
            </div>
        </div>
    </nav>
        <div class="container">
            {% block alert%}{% endblock%}
            {% block container%}
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-xs-5" style="background-color:#fff;">
                    {% block content%}
                    {% endblock%}
                </div>
            </div>
            {% endblock%}
        </div>
    <footer class="footer">
        <div class="container">
            {% block container_footer%}
                <p class="text-muted">footer</p>
            {% endblock%}
        </div>
    </footer>
{% endblock %}
