{% extends "base_auth_users.html" %}
{% block title %}Registrarse{% endblock %}
{% block content %}

    {% if send %}
        <p><div class="alert alert-success" role="alert">Se ha enviado un mail de confirmación a la cuenta {{ email }}.</div></p>
    {% elif not send %}
        <form action="" method="post">
            {% for field in form %}
                <p>
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">{{field.errors}}</div>
                {% endif %}
                <label>{{field.label}}</label> {{field}}</p>
            {% endfor %}

            <input type="submit" value="Registrate" class="btn btn-info" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
            {% csrf_token %}
        </form>
        {% if form.errors %}
            <p><div class="alert alert-danger" role="alert">Complete los campos erroneos</div></p>
        {% endif %}
        {% if exist %}
            <p><div class="alert alert-danger" role="alert">Existe una cuenta con el mismo email registrada</div></p>
        {% endif %}
    {% endif %}

{% endblock %}